.root {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.875rem;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  color: #000;
}

.toggle {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  min-height: calc(1.5em + 22px);
  min-width: 320px;
  background: var(--color, '#fff');
  border: 1px solid grey;
  box-shadow: 0 5px 13px -3px rgba(0, 0, 0, 0.4);
  border-radius: 0.75em;
  margin: 0.5em;
  padding: 10px;
  text-align: left;
  line-height: 1.5;
  color: grey;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.placeholder {
  opacity: 0.8;
}

.listbox {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px 0 0 0;
  list-style: none;
  position: absolute;
  height: auto;
  transition: opacity 0.1s ease;
  width: 100%;
  box-shadow: 0 5px 13px -3px rgba(0, 0, 0, 0.4);
  background: #fff;
  border: 1px solid grey;
  border-radius: 0.75em;
  color: grey;
  overflow: auto;
  z-index: 1;
  outline: 0px;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s 0.5s ease, visibility 0.4s 0.5s step-end;
}

.selectOption {
  padding: 8px;
  border-radius: 0.45em;
}

.selectOption:hover {
  background: grey;
}

.selectOption[aria-selected='true'] {
  background: grey;
}
